<template>
  <div class="pt-6">
    <!-- <v-dialog v-model="showDialogImage" max-width="900">
      <v-card class="pa-5">
        <v-row>
          <v-col cols="12" md="12">
            <v-img :src="image.full_picture" contain max-height="400">
              <template v-slot:placeholder>
                <v-row class="fill-height ma-0" align="center" justify="center">
                  <v-progress-circular
                    indeterminate
                    color="grey lighten-5"
                  ></v-progress-circular>
                </v-row>
              </template>
            </v-img>
          </v-col>
          <v-col cols="12" md="12">
            <p>
              <span class="secondary--text">Author:</span
              ><span> {{ image.author }}</span
              ><br />
              <span class="secondary--text">Camera:</span
              ><span> {{ image.camera }}</span>
            </p>
            <p></p>
            <p>
              <span class="secondary--text">Tags</span><br />
              <span>{{ image.tags }}</span>
            </p>
          </v-col>
        </v-row>
        <v-card-actions>
          <v-btn @click="navPic('previous')">Previous</v-btn>
          <v-spacer></v-spacer>
          <v-btn @click="navPic('next')">Next</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog> -->

    <picture-dialog
      v-if="showDialogImage"
      :image="image"
      @navigate="navPic"
      @close="closeDialog"
    >
    </picture-dialog>

    <v-container>
      <v-row>
        <v-col
          v-for="(pic, index) in pictures"
          :key="pic.id"
          cols="12"
          md="4"
          sm="4"
        >
          <v-img :src="pic.cropped_picture" @click="openPicture(pic.id, index)">
            <template v-slot:placeholder>
              <v-row class="fill-height ma-0" align="center" justify="center">
                <v-progress-circular
                  indeterminate
                  color="grey lighten-5"
                ></v-progress-circular>
              </v-row>
            </template>
          </v-img>
        </v-col>
        <v-col cols="12">
          <v-pagination
            v-model="page"
            :length="pageCount"
            :total-visible="7"
            @input="getPictures()"
          ></v-pagination>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import pictureDialog from "../components/Picture.vue";

export default {
  name: "Home",
  components: { pictureDialog },
  data: () => ({
    pictures: [],
    page: 1,
    pageCount: 0,
    showDialogImage: false,
    image: {},
  }),
  mounted() {
    this.getPictures();
  },
  methods: {
    async getPictures() {
      let response = await this.$http.get(`/images?page=${this.page}`);
      const data = response.data;
      this.pictures = data.pictures;
      this.page = data.page;
      this.pageCount = data.pageCount;
    },
    openPicture(id, index) {
      console.log(id);
      console.log(index);
      this.$http
        .get(`/images/${id}`)
        .then((response) => {
          console.log(response);
          const data = response.data;
          this.image = data;
          this.image.index = index;
        })
        .then(() => {
          this.showDialogImage = true;
        });
    },
    async navPic(type) {
      console.log("NAV PIC");
      let nextPicIndex = 0;

      if (type === "previous") {
        nextPicIndex = this.image.index - 1;
      }

      if (type === "next") {
        nextPicIndex = this.image.index + 1;
      }

      if (this.pictures.length === nextPicIndex) {
        this.page = this.page + 1;

        await this.getPictures();

        const nextPic = this.pictures[0];

        let picture = await this.$http.get(`/images/${nextPic.id}`);
        const data = picture.data;
        this.image = data;
        this.image.index = 0;
        this.showDialogImage = true;
      } else if (nextPicIndex === -1) {
        this.page = this.page - 1;

        await this.getPictures();

        const nextPic = this.pictures[9];
        let picture = await this.$http.get(`/images/${nextPic.id}`);
        const data = picture.data;
        this.image = data;
        this.image.index = 9;
        this.showDialogImage = true;
      } else {
        const nextPic = this.pictures[nextPicIndex];

        let picture = await this.$http.get(`/images/${nextPic.id}`);
        const data = picture.data;
        this.image = data;
        this.image.index = nextPicIndex;
        this.showDialogImage = true;
      }
    },
    closeDialog() {
      this.showDialogImage = false;
      this.image = {};
    },
  },
};
</script>
