<template>
  <v-dialog v-model="dialog" max-width="900" @click:outside="closeDialog">
    <v-card class="pa-5">
      <v-row>
        <v-col cols="12" md="12">
          <v-img :src="image.full_picture" contain max-height="400">
            <template v-slot:placeholder>
              <v-row class="fill-height ma-0" align="center" justify="center">
                <v-progress-circular
                  indeterminate
                  color="grey lighten-5"
                ></v-progress-circular>
              </v-row>
            </template>
          </v-img>
        </v-col>
        <v-col cols="12" md="12">
          <p>
            <span class="secondary--text">Author:</span
            ><span> {{ image.author }}</span
            ><br />
            <span class="secondary--text">Camera:</span
            ><span> {{ image.camera }}</span>
          </p>
          <v-btn
            fab
            large
            dark
            bottom
            left
            class="float-right"
            @click="showSharelink = true"
          >
            <v-icon>mdi-share</v-icon>
          </v-btn>
          <p>
            <span class="secondary--text">Tags</span><br />
            <span>{{ image.tags }}</span>
          </p>
        </v-col>
        <v-col cols="12" md="12" v-if="showSharelink">
          <v-text-field
            label="Share"
            v-model="image.full_picture"
          ></v-text-field>
        </v-col>
      </v-row>

      <v-card-actions class="pt-5">
        <v-btn @click="navPic('previous')">Previous</v-btn>
        <v-spacer></v-spacer>
        <v-btn @click="navPic('next')">Next</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "Picture",
  props: ["image"],
  data: () => ({
    dialog: true,
    showSharelink: false,
  }),
  methods: {
    navPic(type) {
      this.$emit("navigate", type);
    },
    closeDialog() {
      this.$emit("close");
    },
  },
};
</script>
