<template>
  <v-app>
    <v-app-bar app color="primary" dark>
      <div class="d-flex align-center">
        <h3>Image Gallery</h3>
      </div>
    </v-app-bar>

    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "App",

  data: () => ({
    token: "",
  }),
  mounted() {
    this.getToken();
  },
  methods: {
    ...mapActions(["saveToken"]),

    getToken() {
      this.$http
        .post(`/auth`, { apiKey: "23567b218376f79d9415" })
        .then((response) => {
          console.log(response);
          const data = response.data;
          this.saveToken(data.token);
        });
    },
  },
};
</script>
